<settings>
  <setting propertyKey="mbtaApiKey" title="@Strings.MbtaApiKeyTitle" prompt="@Strings.MbtaApiKeyPrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="radiusMeters" title="@Strings.RadiusMetersTitle" prompt="@Strings.RadiusMetersPrompt">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="maxStops" title="@Strings.MaxStopsTitle" prompt="@Strings.MaxStopsPrompt">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="stopId" title="@Strings.AlertStopIdTitle" prompt="@Strings.AlertStopIdPrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="routeFilter" title="@Strings.AlertRouteFilterTitle" prompt="@Strings.AlertRouteFilterPrompt">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="direction" title="@Strings.AlertDirectionTitle" prompt="@Strings.AlertDirectionPrompt">
    <settingConfig type="numeric" />
  </setting>
  <setting propertyKey="maxRows" title="@Strings.AlertMaxRowsTitle" prompt="@Strings.AlertMaxRowsPrompt">
    <settingConfig type="numeric" />
  </setting>
</settings>
